<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room List</title>
</head>

<body>
    <div>
        <h1>Übersicht der Räume</h1>
    </div>

    <div>
        <a href="{% url 'home' %}">zurück zur Startseite</a>
    </div>

    <div>
        {% for room in room_list %}
        <div class="roomlist" style="border: 2px solid black">
            <h2>{{room}}</h2>
        </div>
        {% endfor %}
    </div>
</body>

</html>